.loaderBackground {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10000;
  text-align: center; }

.loader {
  position: relative;
  margin: 15% auto 0; }
